
.gallery {
    height: 100%;
    padding: 5rem 0 0;
    text-align: center;
   
    &-title {
        width: 100%;
        height: 35vh;
        margin-bottom: 0.5rem;
        background:
        linear-gradient(
            to right,
            rgba($primary-color, 0.3),
            rgba($primary-color, 0.9)
        ),
        url('../../images/bg1.jpg') center center;
        background-size: cover;
        border-bottom: 1px solid $lila;
        @include flex;
    
        &-heading { 
            text-transform: uppercase;
            font-size: 3rem;
        }
    }

    &-items { 
        @include flex($direct:row);
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 0.6rem;
    
    }

    &-item {
        @include flex;
        gap: 0.5rem;
        width: 350px;
        height: 500px;

        .picture-1 {
            background-image: url('../../images/animals.jpg');
            }

        .picture-2 {
            background-image: url('../../images/covup.jpg');
            }

        .picture-3 {
            background-image: url('../../images/realtattoo.png');
            }

        .picture-4 {
            background-image: url('../../images/maori.jpg');
            }

        .picture-5 {
            background-image: url('../../images/dotwork.jpg');
            }

        .picture-6{
            background-image: url('../../images/portrait.jpg');
            }

        .picture-7 {
            background-image: url('../../images/color.jpg');
            }

        .picture-8 {
            background-image: url('../../images/black\ and\ grey.jpg');
            }

        &-box {
            width: 100%;
            height: 100%;
            display: block;
            background-size: cover;
            background-size: center ;
            background-repeat: no-repeat;
            outline: 5px solid $primary-color;
        }

        &-box:hover {
        transform: scale(1.01);
        @include transition-ease;
        }

        &-text {
            @include flex ($just: space-evenly );
            flex-wrap: wrap;
            width: 100%;
            height: 6rem;
            background-color: $dark-color;

            h4 > a {
                font-size: 1.7rem ;
            }

            a {
                font-size: 1rem;
            }
        }    
    }

    // &-article {
    //     width: 50%;
    //     padding: .5rem;
    //     margin-bottom: 1rem;
    //     border: 2px solid white;
    //     border-radius: 10px;
    //     line-height: 1.7rem;
    //     text-align: left;

    //     p {
    //         line-height: 1.5rem;
    //         color: $secondary-color;
    //         padding: 0.5rem;
    //     }
    // }
    
    &-info {
        width: 100%;
        padding: 4rem 0;
        font-size: 1.1rem;
        border-top: 0.5px solid $lila;
        background-image: linear-gradient(to bottom, $primary-color, $dark-color);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        justify-items: center;
    
        &-box {
            width: 80%;
        
            h2{
                padding: 1rem 0;
                color: $lila;
                text-align: left;
            }

            p {
                line-height: 1.5rem;
                text-align: justify;
            }
        }
    }
}



